<div id="reservations-overview" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/reservations-overview.less</em>, <em>assets/js/pages/dashboard/reservations-overview.page.js</em>, and <em>api/controllers/dashboard/view-reservations-overview.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
