<div id="reservations-overview" v-cloak>

  <div class="container container-fluid pt-4 pb-4">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Guest name</th>
          <th>Guest email</th>
          <th>Party size</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="reservation of reservations">
          <td>{{reservation.startDate}}</td>
          <td>{{reservation.startTime}}</td>
          <td>{{reservation.guestName}}</td>
          <td>{{reservation.guestEmailAddress}}</td>
          <td>{{reservation.partySize}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
